:root {
    --white-dimmed: #fefefe;
    --black-raisin: #252627;
    --red-firebrick: #bb0a21;
    --yellow-crayola: #f4d35e;
    --purple-dark: #36213e;

    --font-lexend: 'Lexend Mega', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;

    /* Base Font */
    font-family: var(--font-monserrat);

    background-color: var(--purple-dark);
}

.container {
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;

    background-color: var(--yellow-crayola);
    min-width: 100%;
    min-height: 10vh;

    border-bottom: 3px solid var(--red-firebrick);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.banner>h1 {
    font-family: 'Lora', serif;
    padding-left: 2rem;
}

#spin-logo {
    width: 5rem;
}

/* .main-content {

} */

.section {
    background-color: var(--white-dimmed);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    min-height: 100vh;
}

.card {
    box-shadow: 9px 9px 14px -4px #bbb ;

    padding: 2rem;
    margin: 2rem;

    max-width: 200px;

    border-top: 3px solid var(--red-firebrick);
    border-left: 3px solid var(--red-firebrick);
}

.card-header {
    background-color: var(--yellow-crayola);
    height: 10%;
}

.footer {
    background-color: var(--black-raisin);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    border-radius: 50%;
    width: 10%;
}

#photo-banner {
    background-image: url('pexels-pixabay-158826.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#photo-banner-text {
    color: var(--white-dimmed);
    height: 50%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo-banner-text>#photo-banner-title {
    font-size: 5rem;
}

#photo-banner-text>#photo-banner-subtitle {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .section {
        flex-flow: column;
    }

    .card {
        max-width: 100%;
    }

    .logo {
        width: 50%;
    }

    #photo-banner {
        display: none;
    }
}