:root {
    --white-dimmed: #fefefe;
    --black-raisin: #252627;
    --red-firebrick: #bb0a21;
    --yellow-crayola: #f4d35e;
    --purple-dark: #36213e;

    --font-lexend: 'Lexend Mega', sans-serif;
    --font-monserrat: 'Montserrat', sans-serif;

    /* Base Font */
    font-family: var(--font-monserrat);

    background-color: var(--purple-dark);
}

.container {
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: var(--yellow-crayola);
    min-width: 100%;
    min-height: 10vh;
}

.banner>h1 {
    padding-left: 2rem;
}

.main-content {
    background-color: var(--red-firebrick);
    min-width: 100%;
    min-height: 50vh;
}

.section {
    background-color: var(--white-dimmed);
    min-height: 50vh;
    margin: 2rem 0 2rem 0;

    display: flex;
    justify-content: center;

    padding: 2rem;
}

.card {
    box-shadow: 0px 18px 14px -4px #bbb ;
}

.footer {
    background-color: var(--black-raisin);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    border-radius: 50%;
    
    box-shadow: 8px 8px 6px #000 inset;
    box-shadow: 4px 4px 8px #eee inset;
    width: 10%;
}